[submodule "damnpaul"]
	path = damnpaul
	url = git@github.com:pschyska/damnpaul.git
#[submodule "vim-yankring"]
#	path = vim-yankring
#	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "AutoTag"]
	path = AutoTag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "vim-golang"]
	path = vim-golang
	url = https://github.com/jnwhiteh/vim-golang
[submodule "YankRing.vim"]
	path = YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim
[submodule "camelcasemotion"]
	path = camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion
[submodule "CamelCaseComplete"]
	path = CamelCaseComplete
	url = git@github.com:vim-scripts/CamelCaseComplete.git
