[submodule "damnpaul"]
	path = damnpaul
  url = git@github.com:pschyska/damnpaul.git
  ignore = untracked
[submodule "AutoTag"]
	path = AutoTag
	url = https://github.com/vim-scripts/AutoTag.git
  ignore = untracked
[submodule "vim-golang"]
	path = vim-golang
	url = https://github.com/jnwhiteh/vim-golang
  ignore = untracked
[submodule "YankRing.vim"]
	path = YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim
  ignore = untracked
[submodule "camelcasemotion"]
	path = camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion
  ignore = untracked
[submodule "vitality.vim"]
	path = vitality.vim
	url = git@github.com:sjl/vitality.vim.git
  ignore = untracked
[submodule "vim-issues"]
	path = vim-issues
	url = https://github.com/mklabs/vim-issues
  ignore = untracked
[submodule "jshint.vim"]
	path = jshint.vim
	url = git://github.com/walm/jshint.vim.git
  ignore = untracked
[submodule "scratch.vim"]
	path = scratch.vim
	url = https://github.com/vim-scripts/scratch.vim.git
  ignore = untracked
